<?xml version='1.0' standalone='yes'?>
<!DOCTYPE PLUGIN>

<PLUGIN 
  name="{{ name }}"
  author="Derek Kaser"
  version="{{ version }}"
  pluginURL="https://raw.githubusercontent.com/{{ githubRepository }}/main/plugin/{{ name }}.plg"
  support="https://forums.unraid.net/topic/177200-support-motd-message-of-the-day/"
  min="6.11.5"
  icon="fa-desktop"
>

<CHANGES>
<![CDATA[
###{{ version }}###
{{ changelog }}

For older releases, see https://github.com/{{ githubRepository }}/releases
]]>
</CHANGES>

<FILE Name="{{ configDirectory }}/unraid-motd-{{ version }}-amd64-1.txz" Run="upgradepkg --install-new">
<URL>https://github.com/{{ githubRepository }}/releases/download/{{ version }}/unraid-motd-{{ version }}-amd64-1.txz</URL>
<SHA256>{{ checksum }}</SHA256>
</FILE>

<FILE Name="{{ configDirectory }}/figurine_linux_amd64_{{ figurineVersion }}.tar.gz">
<URL>https://github.com/arsham/figurine/releases/download/{{ figurineVersion }}/figurine_linux_amd64_{{ figurineVersion }}.tar.gz</URL>
<SHA256>{{ figurineSHA256 }}</SHA256>
</FILE>

<!--
The 'install' script.
-->
<FILE Run="/bin/bash">
<INLINE>
<![CDATA[

tar xf {{ configDirectory }}/figurine_linux_amd64_{{ figurineVersion }}.tar.gz -C /usr/local/bin/ --strip-components=1 deploy/figurine

# cleanup old versions
rm -f $(ls {{ configDirectory }}/unraid-motd-*.txz 2>/dev/null | grep -v '{{ version }}')
rm -f $(ls {{ configDirectory }}/figurine_linux_amd64_*.tar.gz 2>/dev/null | grep -v '{{ figurineVersion }}')

echo ""
echo "----------------------------------------------------"
echo " {{ name }} has been installed."
echo " Version: {{ version }}"
echo "----------------------------------------------------"
echo ""
]]>
</INLINE>
</FILE>

<!--
The 'remove' script.
-->
<FILE Run="/bin/bash" Method="remove">
<INLINE>
<![CDATA[
removepkg unraid-motd

rm -f /usr/local/bin/figurine
rm -f /usr/local/bin/motd

rm -rf {{ pluginDirectory }}
rm -rf {{ configDirectory }}
]]>
</INLINE>
</FILE>

</PLUGIN>
